@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&display=swap');
.Earth {
  color: floralwhite;
  font-family: 'Crimson Text', serif;
  font-weight: lighter;
  font-size: 35px;
  text-align: center;
  padding: unset;
  padding-top: 100px;
  letter-spacing: 8px;
  margin:  auto;
}
.Earth h5{
    font-family:'Noto Sans', sans-serif;
    font-size: 16px;
    padding-bottom: 20px;
    letter-spacing: 5px;
    
}
.Earth p{
    font-size: 14px;
    letter-spacing: 1px;
    padding-right: 10vh;
    padding-left: 10vh;
    padding-top: 20px;
}

.line{
    border: 2px solid rgb(28, 79, 187);
    width: 30vh;
    margin: 0 auto;
    
    
}
